<a href="https://colab.research.google.com/github/ahmed-elzamarany/Movies_Recommendation_System/blob/main/Reng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## COMMENT: This is one exam of scraping IMDB but not what we will use since our movies are old
from bs4 import BeautifulSoup
import requests
import re
 
 
# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
 
movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
 
ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
 
votes = [b.attrs.get('data-value')
         for b in soup.select('td.ratingColumn strong')]
 
list = []
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating  movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    list.append(data)
 
# printing movie details with its rating.
for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
          ') -', 'Starring:', movie['star_cast'], movie['rating'], movie['link'])

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

1 - 刺激1995 (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman 9.233602811341296 /title/tt0111161/
2 - 教父 (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino 9.155661280729705 /title/tt0068646/
3 - 黑暗騎士 (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger 8.984640500687359 /title/tt0468569/
4 - 教父第二集 (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro 8.98383588515172 /title/tt0071562/
5 - 十二怒漢 (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb 8.946821184307101 /title/tt0050083/
6 - 辛德勒的名單 (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes 8.93481762313448 /title/tt0108052/
7 - 魔戒三部曲：王者再臨 (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen 8.9201829790483 /title/tt0167260/
8 - 黑色追緝令 (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman 8.851336405874747 /title/tt0110912/
9 - 魔戒首部曲：魔戒現身 (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.803095823744924 /title/tt0120737/
1 -  黃昏三鏢客 (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach 8.794291516318202 /title/tt0060196/
11 - 阿甘正傳 (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright 8.767226895407473 /title/tt0109830/
12 - 鬥陣俱樂部 (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton 8.750528074403228 /title/tt0137523/
13 - 全面啟動 (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt 8.732899429403624 /title/tt1375666/
14 - 魔戒二部曲：雙城奇謀 (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.727123167424589 /title/tt0167261/
15 - 星際大戰五部曲：帝國大反擊 (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford 8.701812337444933 /title/tt0080684/
16 - 駭客任務 (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne 8.6712233804051 /title/tt0133093/
17 - 四海好傢伙 (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta 8.6506099090729 /title/tt0099685/
18 - 飛越杜鵑窩 (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher 8.641710587959345 /title/tt0073486/
19 - 火線追緝令 (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt 8.603792526381426 /title/tt0114369/
20 - 七武士 (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura 8.599359066306835 /title/tt0047478/
21 - 風雲人物 (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed 8.59716642273916 /title/tt0038650/
22 - 沉默的羔羊 (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins 8.587971236701202 /title/tt0102926/
23 - 無法無天 (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino 8.579162727987669 /title/tt0317248/
24 - 搶救雷恩大兵 (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon 8.577209433120897 /title/tt0120815/
25 - 美麗人生 (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi 8.566037843265839 /title/tt0118799/
26 - 綠色奇蹟 (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan 8.559282888932083 /title/tt0120689/
27 - 星際大戰 (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford 8.554817800121315 /title/tt0076759/
28 - 星際效應 (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway 8.553663752221425 /title/tt0816692/
29 - 魔鬼終結者2 (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton 8.53460578572504 /title/tt0103064/
30 - 回到未來 (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd 8.517793310297842 /title/tt0088763/
31 - 神隱少女 (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette 8.515141451195207 /title/tt0245429/
32 - 驚魂記 (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh 8.508722061363839 /title/tt0054215/
33 - 戰地琴人 (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann 8.504511741370212 /title/tt0253474/
34 - 終極追殺令 (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman 8.501583472467505 /title/tt0110413/
35 - 寄生上流 (2019) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee 8.495432777378957 /title/tt6751668/
36 - 獅子王 (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons 8.488428134779625 /title/tt0110357/
37 - 美國X檔案 (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong 8.48510432420664 /title/tt0120586/
38 - 神鬼戰士 (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix 8.484928360034651 /title/tt0172495/
39 - 刺激驚爆點 (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne 8.47755836778893 /title/tt0114814/
40 - 神鬼無間 (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon 8.47492859238322 /title/tt0407887/
41 - 頂尖對決 (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman 8.467777218809905 /title/tt0482571/
42 - 北非諜影 (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman 8.465950988943765 /title/tt0034583/
43 - 進擊的鼓手 (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons 8.459258721475308 /title/tt2582802/
44 - 逆轉人生 (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy 8.454446797608806 /title/tt1675434/
45 - 摩登時代 (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.450235997443915 /title/tt0027977/
46 - 切腹 (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama 8.448940368244697 /title/tt0056058/
47 - 狂沙十萬里 (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson 8.448715459236004 /title/tt0064116/
48 - 螢火蟲之墓 (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi 8.446448521477642 /title/tt0095327/
49 - 後窗 (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly 8.437584750515224 /title/tt0047396/
50 - 異形 (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt 8.435507655799796 /title/tt0078748/
51 - 城市之光 (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill 8.434700732893901 /title/tt0021749/
52 - 新天堂樂園 (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale 8.428728054291517 /title/tt0095765/
53 - 記憶拼圖 (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss 8.42668614524509 /title/tt0209144/
54 - 媽的多重宇宙 (2022) - Starring: Dan Kwan (dir.), Michelle Yeoh, Stephanie Hsu 8.426476165621834 /title/tt6710474/
55 - 現代啟示錄 (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando 8.425574372644338 /title/tt0078788/
56 - 法櫃奇兵 (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen 8.41215640571996 /title/tt0082971/
57 - 決殺令 (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz 8.401937653230798 /title/tt1853728/
58 - 瓦力 (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight 8.392246721515992 /title/tt0910970/
59 - 竊聽風暴 (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck 8.386795332231186 /title/tt0405094/
60 - 日落大道 (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson 8.383496759063942 /title/tt0043014/
61 - 光榮之路 (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker 8.370766355603523 /title/tt0050825/
62 - 鬼店 (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall 8.36819125015075 /title/tt0081505/
63 - 大獨裁者 (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.366838872615798 /title/tt0032553/
64 - 情婦 (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich 8.356442009354968 /title/tt0051201/
65 - 復仇者聯盟：無限之戰 (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth 8.353800822000592 /title/tt4154756/
66 - 異形2 (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn 8.344591248667504 /title/tt0090605/
67 - 美國心玫瑰情 (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening 8.339085826558204 /title/tt0169547/
68 - 奇愛博士 (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott 8.334494059189526 /title/tt0057012/
69 - 黑暗騎士：黎明昇起 (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy 8.32927346774873 /title/tt1345836/
70 - 蜘蛛人：新宇宙 (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson 8.327052774687631 /title/tt4633694/
71 - 小丑 (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro 8.320770003900561 /title/tt7286456/
72 - 原罪犯 (2003) - Starring: Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-Tae 8.319995694381385 /title/tt0364569/
73 - 梅爾吉勃遜之英雄本色 (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau 8.315771252000818 /title/tt0112573/
74 - 阿瑪迪斯 (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce 8.315282907524233 /title/tt0086879/
75 - 玩具總動員 (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen 8.314292795637256 /title/tt0114709/
76 - 可可夜總會 (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal 8.312195706278466 /title/tt2380307/
77 - 從海底出擊 (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer 8.312103177316507 /title/tt0082096/
78 - 惡棍特工 (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger 8.310080032063553 /title/tt0361748/
79 - 魔法公主 (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida 8.303989417621267 /title/tt0119698/
80 - 四海兄弟 (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods 8.302394077191446 /title/tt0087843/
81 - 復仇者聯盟：終局之戰 (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans 8.29988119853489 /title/tt4154796/
82 - 心靈捕手 (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon 8.285965182002007 /title/tt0119217/
83 - 噩夢輓歌 (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto 8.277828803588243 /title/tt0180093/
84 - 玩具總動員3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen 8.277212958676234 /title/tt0435761/
85 - 萬花嬉春 (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor 8.273807269968945 /title/tt0045152/
86 - 你的名字 (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi 8.27351644488663 /title/tt5311514/
87 - 星際大戰六部曲：絕地大反攻 (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford 8.26859232951527 /title/tt0086190/
88 - 三個傻瓜 (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.26851223188459 /title/tt1187043/
89 - 2001：太空漫遊 (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood 8.26648536378104 /title/tt0062622/
90 - 霸道橫行 (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth 8.265434213768946 /title/tt0105236/
91 - 王牌冤家 (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet 8.265281836893072 /title/tt0338013/
92 - 天國與地獄 (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada 8.262079611466707 /title/tt0057565/
93 - 大國民 (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten 8.259138924785635 /title/tt0033467/
94 - 我想有個家 (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw 8.257982636889546 /title/tt8267604/
95 - 阿拉伯的勞倫斯 (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness 8.256844636767768 /title/tt0056172/
96 - M就是兇手 (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann 8.255433772871754 /title/tt0022100/
97 - 謊言的烙印 (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen 8.254671822548774 /title/tt2106476/
98 - 北西北 (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint 8.254373021167979 /title/tt0053125/
99 - 迷魂記 (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak 8.248614267000082 /title/tt0052357/
10 -  艾蜜莉的異想世界 (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz 8.247437651973254 /title/tt0211915/
101 - 發條橘子 (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee 8.245742578653536 /title/tt0066921/
102 - 蜘蛛人：無家日 (2021) - Starring: Jon Watts (dir.), Tom Holland, Zendaya 8.24319376217784 /title/tt10872600/
103 - 見證 (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova 8.242667303850615 /title/tt0091251/
104 - 金甲部隊 (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey 8.240589117283658 /title/tt0093058/
105 - 雙重賠償 (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck 8.238251931355622 /title/tt0036775/
106 - 公寓春光 (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine 8.237308469445336 /title/tt0053604/
107 - 疤面煞星 (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer 8.235138883500776 /title/tt0086250/
108 - 計程車司機 (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster 8.22950117136144 /title/tt0075314/
109 - 梅崗城故事 (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna 8.229481299537175 /title/tt0056592/
110 - 生之慾 (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko 8.229201340336038 /title/tt0044741/
111 - 刺激 (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford 8.229106982316697 /title/tt0070735/
112 - 漢密爾頓 (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo 8.226470941214375 /title/tt8503618/
113 - 鐵面特警隊 (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe 8.225967079579114 /title/tt0119488/
114 - 天外奇蹟 (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai 8.22412855608274 /title/tt1049413/
115 - 烈火悍將 (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro 8.222801072319331 /title/tt0113277/
116 - 大都會 (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel 8.221399251102081 /title/tt0017136/
117 - 偷拐搶騙 (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt 8.220949022592157 /title/tt0208092/
118 - 分居風暴 (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami 8.220705657836923 /title/tt1832382/
119 - 終極警探 (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman 8.220265590374497 /title/tt0095016/
120 - 烈火焚身 (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin 8.218714796828328 /title/tt1255953/
121 - 聖戰奇兵 (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery 8.218518958771437 /title/tt0097576/
122 - 單車失竊記 (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola 8.21831929065085 /title/tt0040522/
123 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay 8.212517795880853 /title/tt8579674/
124 - 心中的小星星 (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.206484559292544 /title/tt0986264/
125 - 帝國毀滅 (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara 8.204851012020598 /title/tt0363163/
126 - 黃昏雙鏢客 (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef 8.203871888697872 /title/tt0059578/
127 - 蝙蝠俠：開戰時刻 (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine 8.202906408325163 /title/tt0372784/
128 - 我和我的冠軍女兒 (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar 8.198219657077777 /title/tt5074352/
129 - 孤兒流浪記 (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance 8.195066511865422 /title/tt0012349/
130 - 熱情如火 (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis 8.191748077537282 /title/tt0053291/
131 - 父親 (2020) - Starring: Florian Zeller (dir.), Anthony Hopkins, Olivia Colman 8.184420654509971 /title/tt10272386/
132 - 彗星美人 (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter 8.180178133722181 /title/tt0042192/
133 - 幸福綠皮書 (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali 8.174260553399492 /title/tt6966692/
134 - 華爾街之狼 (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill 8.17067193770918 /title/tt0993846/
135 - 紐倫堡大審 (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster 8.16806961697131 /title/tt0055031/
136 - 殺無赦 (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman 8.165332572353593 /title/tt0105695/
137 - 羊男的迷宮 (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil 8.164116536711173 /title/tt0457430/
138 - 賭國風雲 (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone 8.163640338083342 /title/tt0112641/
139 - 亂 (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao 8.163137159766531 /title/tt0089881/
140 - 黑金企業 (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano 8.153926193822727 /title/tt0469494/
141 - 聖杯傳奇 (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese 8.153616548733917 /title/tt0071853/
142 - 美麗境界 (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris 8.15354477039887 /title/tt0268978/
143 - 靈異第六感 (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment 8.153521622691052 /title/tt0167404/
144 - 楚門的世界 (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris 8.150233995814881 /title/tt0120382/
145 - 大鏢客 (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno 8.149477687683282 /title/tt0055630/
146 - 碧血金沙 (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston 8.148249230929732 /title/tt0040897/
147 - 羅生門 (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô 8.143689101040735 /title/tt0042876/
148 - 第三集中營 (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner 8.142931697159536 /title/tt0057115/
149 - 隔離島 (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer 8.141711499216694 /title/tt1130884/
150 - 追殺比爾 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine 8.137060715967781 /title/tt0266697/
151 - 侏儸紀公園 (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern 8.136495656938237 /title/tt0107290/
152 - 險路勿近 (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem 8.134791134281185 /title/tt0477348/
153 - 象人 (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt 8.131577582487854 /title/tt0080678/
154 - 海底總動員 (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres 8.13114177096379 /title/tt0266543/
155 - 蠻牛 (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty 8.130810957339204 /title/tt0081398/
156 - 唐人街 (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway 8.12953533701487 /title/tt0071315/
157 - 亂世佳人 (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh 8.127713600148711 /title/tt0031381/
158 - V怪客 (2005) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman 8.126739185826663 /title/tt0434409/
159 - 腦筋急轉彎 (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader 8.125277669592634 /title/tt2096673/
160 - 兩根槍管 (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher 8.124245314230649 /title/tt0120735/
161 - 突變第三型 (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley 8.123495809338992 /title/tt0084787/
162 - 電話情殺案 (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly 8.119372826910558 /title/tt0046912/
163 - 謎樣的雙眼 (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil 8.118617208125267 /title/tt1305806/
164 - 桂河大橋 (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness 8.115400757418527 /title/tt0050212/
165 - 霍爾的移動城堡 (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baishô, Takuya Kimura 8.114091519196794 /title/tt0347149/
166 - 意外 (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson 8.111902917057977 /title/tt5027774/
167 - 猜火車 (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner 8.111867563961034 /title/tt0117951/
168 - 經典老爺車 (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang 8.10612185720327 /title/tt1205489/
169 - 勇者無敵 (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte 8.1056486690613 /title/tt1291584/

In [ ]:
from google.colab import drive 
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
import os 
import pandas as pd 

# https://stackoverflow.com/questions/54351852/accessing-shared-with-me-with-colab -> everyone has to do this once. 
os.chdir("/content/drive/MyDrive/Web Mining/ml-1m")

In [ ]:
# first get user information data from "users.dat"
users = pd.read_csv("users.dat", sep="::", names=["UserID", "Gender", "Age", "Occupation", "Zip-code"], skipinitialspace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
# there should not be null val according to README - checked
print(users.head())
print(users.isnull().values.any())
print(users.shape)
print(users.describe()) 
# TODO: We know no Null vals, next step: do analysis according to implementation plan

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455
False
(6040, 5)
            UserID          Age   Occupation
count  6040.000000  6040.000000  6040.000000
mean   3020.500000    30.639238     8.146854
std    1743.742145    12.895962     6.329511
min       1.000000     1.000000     0.000000
25%    1510.750000    25.000000     3.000000
50%    3020.500000    25.000000     7.000000
75%    4530.250000    35.000000    14.000000
max    6040.000000    56.000000    20.000000

In [ ]:
# get movie data from MovieLens 
# import chardet
# chardet.detect(open("movies.dat", 'rb').read())['encoding'] - encoding="ISO-8859-1"
movies = pd.read_csv("movies.dat", sep="::", names=["MovieID", "Title", "Genres"], encoding="ISO-8859-1", skipinitialspace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
# also no missing values 
# you can see that we can get the year of movie using Regex on Title :) 
print(movies.head())
print(movies.isnull().values.any())
print(movies.shape)
print(movies.describe()) 
# no IMDB ID so we need to combine them together - find only resource

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
False
(3883, 3)
           MovieID
count  3883.000000
mean   1986.049446
std    1146.778349
min       1.000000
25%     982.500000
50%    2010.000000
75%    2980.500000
max    3952.000000

In [ ]:
# get ratings data from "ratings.dat"
ratings = pd.read_csv("ratings.dat", sep="::", names=["UserID", "MovieID", "Rating", "Timestamp"], skipinitialspace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
# no missing vals 
print(ratings.head())
print(ratings.isnull().values.any())
print(ratings.shape)
print(ratings.describe())

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291
False
(1000209, 4)
             UserID       MovieID        Rating     Timestamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00  9.722437e+08
std    1.728413e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [ ]:
print(ratings.groupby('UserID').count()['MovieID'].describe())

count    6040.000000
mean      165.597517
std       192.747029
min        20.000000
25%        44.000000
50%        96.000000
75%       208.000000
max      2314.000000
Name: MovieID, dtype: float64

In [ ]:
data_complete = pd.merge(ratings, users, on = ('UserID'))

In [ ]:
data_complete = pd.merge(data_complete, movies, on = ('MovieID'))

In [ ]:
data_complete

,UserID,MovieID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,Title,Genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary